[Unit]
Description=Distro Runner
Requires=network.target

[Service]
EnvironmentFile=/etc/distro/env
ExecStart=/usr/bin/distro runner --config ${DISTRO_CONFIG}
ExecReload=/bin/kill -HUP $MAINPID
User=distro
Group=distro
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
